<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/CSS/style.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.5.1.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block extraheader %} {% endblock extraheader %}
    {% block title %} {% endblock title %}
    <link rel="icon" href="{% static 'home/images/icon.jpg' %}" type="image/x-icon">

</head>


<body style="padding-top: 65pt">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="{% url 'home' %}" class="navbar-brand">
        <div class="logo">
            BK Food Court
        </div>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-md-4" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
            <a href="{% url 'menu' %}" class="nav-item nav-link">Menu</a>
        </div>
        <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'donhang' %}">
                        <button class="btn btn-warning mr-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <small>Đơn Hàng</small>
                        </button>
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mr-sm-2" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.get_username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'foodstore' %}">Food Store</a>
                            <a class="dropdown-item" href="{% url 'addfood' %}">Add Food</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'cart' %}">
                        <button class="btn btn-success mr-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <small>Cart</small>
                        </button>
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mr-sm-2" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.get_username }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'profile' %}">Thông Tin Tài Khoản</a>
                            <a class="dropdown-item" href="{% url 'accountupdate' %}">Chỉnh Sửa Thông Tin</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <a class="btn btn-secondary nav-item mr-sm-2" href="{% url 'login' %}">Đăng nhập
                </a>
                <a class="btn nav-item btn-outline-light mr-sm-2" href="{% url 'register' %}">Đăng kí
                </a>


            {% endif %}
        </div>
    </div>
</nav>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                {{ message.tags|title }}{% endif %}!</strong> {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block container %}
{% endblock container %}
{% block script %}
{% endblock script %}

<script src="{% static 'bootstrap/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>