{% extends 'home/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block extraheader %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/CSS/style.css' %}"/>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 pt-3 pb-3" style="background-color: white; border-radius: 10px">
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-3">Đăng nhập</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-primary mb-2" type="submit">Đăng nhập</button>
                        </div>

                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Chưa có tài khoản? <a href="{% url 'register' %}">Đăng kí</a>
                        </small>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}