{% extends 'home/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}
    <title>BK | Logouted</title>
{% endblock %}
{% block extraheader %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/CSS/style.css' %}"/>
{% endblock %}

{% block container %}

    <div class="container mt-5 jumbotron pt-3 w-25 pb-3 bg-light">
        <div class="row">
            <div>
                <div class="content-section">
                    <h2>Bạn đã đang xuất!</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Đăng nhập lại? <a href="{% url 'login' %}">Đăng nhập</a>
                        </small>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}