{% extends 'home/base.html' %}
{% block title %}
    <title>BK | Cart</title>
{% endblock %}
{% block container %}
    <div class="container mt-5 jumbotron pt-4">
        <fieldset class="mb-3">
            <legend class="border-bottom border-success text-success">Giỏ Hàng</legend>
        </fieldset>
        <div class="list-group">
            <div class="row">
                {% for x in foods %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="media card-body">
                                <img src="{{ x.food.image.url }}" class="mr-3 ml-4" alt="..."
                                     style="width: 100px; height: 100px">
                                <div class="media-body" style="width: 90%">
                                    <h5 class="mt-0">{{ x.food.name }}</h5>
                                    <h6>Price: {{ x.food.price }}</h6>
                                    <h6>Quantity: {{ x.quantity }}</h6>

                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="cl" value="{{ x.id }}">
                                        <input type="hidden" name="add" value="{{ x.id }}">
                                        <button type="submit" class="btn btn-warning btn-sm" id="btn-clear"><i
                                                class="fa fa-minus"
                                                aria-hidden="true"></i>
                                        </button>
                                        <a href="{% url 'cart-add' x.id %}" style="text-decoration: none">
                                            <button class="btn btn-success btn-sm btn-add" type="button"><i
                                                    class="fa fa-plus"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </a>
                                        <a href="{% url 'cart-reduce' x.id %}">
                                            <button class="btn btn-danger btn-sm btn-add" type="button"><i
                                                    class="fa fa-trash"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </a>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        {% if foods.count > 0 %}

            <a href="{% url 'payment' %}">
                <button class="btn btn-success" type="submit">Thanh toán</button>
            </a>

        {% endif %}
    </div>
{% endblock %}

