{% extends 'home/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    <title>BK | Food Store</title>
{% endblock %}
{% block container %}
    <div class="container mt-5 jumbotron pt-4">
        <fieldset class="mb-3">
            <legend class="border-success border-bottom text-success">Food Store</legend>
        </fieldset>
        {% if user.is_staff %}
            <div class="card-body">
                <form method="get" class="form-inline">
                    {{ filter.form|crispy }}
                    <button class="btn btn-success ml-md-4" type="submit">Tìm kiếm</button>
                </form>
            </div>
            {% if foods.count > 0 %}
                <div class="card-body">
                    <div class="row">
                        {% for x in foods %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="media card-body">
                                        <img src="{{ x.image.url }}" class="mr-3 ml-4" alt="..."
                                             style="width: 100px; height: 100px">
                                        <div class="media-body" style="width: 90%">
                                            <h6 class="mt-0"><strong>{{ x.name }}</strong></h6>
                                            <small>Price: {{ x.price }}</small> <br>
                                            <small>Quantity: {{ x.quantity }}</small><br>
                                            <a href="{% url 'foodstore-edit' x.id %}" style="text-decoration: none">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </button>
                                            </a>
                                            <a href="{% url 'foodstore-delete' x.id %}">
                                                <button class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <h5 class="text-capitalize"> Không có sản phẩm nào !</h5>
            {% endif %}
        {% else %}
            <div class="m-auto">
                <h5 class="text-danger m-auto"> Tài khoản không hợp lệ!</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}