{% extends 'home/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    <title>BK | Edit</title>
{% endblock %}
{% block container %}
    <div class="container w-25 mt-5 bg-light jumbotron pt-3 pb-3">
        <form method="post" class="pt-3 pb-3">
            <fieldset class="border-bottom border-success mb-3">
                <legend class="text-success">
                    Chỉnh sửa
                </legend>
            </fieldset>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
{% endblock %}