{% extends 'home/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    <title>BK | Edit</title>
{% endblock %}
{% block container %}
    <div class="container w-25 mt-5 bg-light " style="border-radius: 10px">
        <form method="post" class="pt-3 pb-3">
            <fieldset class="border-bottom">
                <legend>
                    Chỉnh sửa
                </legend>
            </fieldset>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
{% endblock %}