{% extends 'home/base.html' %}
{% load static %}
{% block title %}
<title>BK | Menu</title>
{% endblock %}
{% block container %}
    <div class="container mt-5">
        <div class="md-form active-cyan active-cyan-2 mb-3">
            <form method="get" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" placeholder="Search ..." name="q" class="form-control " value="{{ request.GET.q }}">
                </div>
                <button class="btn btn-primary mb-2" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="list-group">
            <div class="row">
                {% for x in foods %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="media card-body">
                                <img src="{{ x.image.url }}" class="mr-3 ml-4" alt="..."
                                     style="width: 100px; height: 100px">
                                <div class="media-body" style="width: 90%">
                                    <h5 class="mt-0">{{ x.name }}</h5>
                                    Price: {{ x.price }}
                                    <form method="get">
                                        <input type="hidden" name="add" value="{{ x.id }}">
                                        <input type="submit" formmethod="get" value="Add"  class="btn btn-success">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}