{% extends 'home/base.html' %}
{% block title %}
<title>BK | Payment</title>
{% endblock %}
{% block container %}
    <div class="container jumbotron mt-3 w-75 pt-4">
    <fieldset class="mb-3 ml-2">
        <legend class="text-success font-weight border-bottom border-success ">Hoá Đơn</legend>
    </fieldset>
        <table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-bordered" >
            <thead class="thead-inverse|thead-default table-success">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for food in foods %}
            <tr>
                <td scope="row">{{ food.food.name }}</td>
                <td>{{ food.quantity }}</td>
                <td>{{food.food.price}}</td>
            </tr>
            {% endfor %}
            <tr class="table-active">
                <td scope="row"><strong>Tổng</strong></td>
                <td><strong>{{ sum.quantity }}</strong></td>
                <td><strong>{{sum.price}}</strong></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success float-md-right">Thanh Toán</button>
    </div>
{% endblock %}